{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "bracketSameLine": false,
    "printWidth": 150,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
